* {
  box-sizing: border-box;
}

body {
  background: blue;
  max-width: 100%;
}

header {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 15px 0 30px;
}

header h1 {
  margin: 10px 0;
}

header h2 {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

main {
  background-color: wheat;
  margin: 30px auto;
  max-width: 960px;
  width: 100%;
}
