* {
  box-sizing: border-box;
}

html {background: linear-gradient(#D6DCBD, #ABC3E2, #898F6D, #A98480, #8F7774);}

article {
  font-weight: 300;
  font-family: sans-serif;
  line-height: 2;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 35px;
}

article h2 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

article ul {
  margin-top: 40px;
}

article li {
  margin-top: 20px;
  line-height: 1.5;
}

blockquote {
  border-left: 2px solid #333;
  padding-left: 35px;
  margin-bottom: 40px;
}

blockquote p {
  margin: 30px 0;
}

.blockquote-author {
  color: #333;
  font-style: italic;
}

body {
  font-family: 'Merriweather', serif;
  line-height: 1.8;
  max-width: 100%;
}

figcaption {
  bottom: 3px;
  font-size: 14px;
  position: relative;
}

footer {
  padding: 5px 25px 30px;
}

a {
  color: #2075FE;
  text-decoration: none;
}

header {
  padding: 11px 0 30px;
  margin-bottom: 30px;
}

header h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 10px 0;
}

header h2 {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0;
}

img {
  max-width: 100%;
}

main {
  background: linear-gradient(#D6DCBD, #DDD);
  box-shadow: 0px 0px 9px black;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #999;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.p-padding {
  padding: 20px 35px 0;
}

#image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}

#image-gallery figure {
  margin: 30px 0;
  max-width: 300px;
  width: calc(100% - 10px);
}

@media screen and (min-width: 330px) {
  #image-gallery figure {
    margin: 30px 12px;
  }
}


@media screen and (min-width: 662px) {
  #starry-night {
    position: relative;
    top: 5px;
  }

  #image-gallery figure {
    margin: 30px 15px;
  }
}


@media screen and (min-width: 745px) {
  #image-gallery figure {
    margin: 30px;
  }
}

@media screen and (min-width: 450px) {
  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 15px;
  }
}

@media screen and (min-width: 845px) {
  #image-gallery figure {
    margin: 30px 45px;
  }
}

@media screen and (min-width: 945px) {
  #image-gallery figure {
    margin: 30px 60px;
  }
}
